<div>
  <div class="row">
    <div class="col-md-4 col-12">
        <a href="#" title="Home">
            <img src="/assets/img/logo.png" alt="Logo"/>
        </a>
    </div>
    <div class="col-md-8 col-12">                   
    </div>
</div>
<nav class="navbar navbar-expand-md navbar-dark bg-navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>                
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Categories</a>
            </li>   
            <li class="nav-item">
              <a class="nav-link" href="#">Login</a>
          </li>                 
        </ul>
    </div>
</nav>
<div role="main" class="pb-3 bg-gray">
  <div class="container-fluid pt-4">
     <h4 class="title-blue">Movies</h4>
     <div class="row">          
      <div *ngFor="let dataItem of MovieList" class="col-12 col-md-6 col-lg-3">
        <div class="card movie-card">
          <img class="card-img-top" src="/assets/img/{{dataItem.PromoImage}}" alt="Movie Image">
          <div class="card-body text-center">
            <div class="row">
              <div class="col-12">
                <h5>{{dataItem.Title}}</h5>
              </div>
              <div class="col-12">
                <button type="button" class="btn btn-outline-primary" (click)="rentThis(dataItem.MovieID)">Rent</button>
              </div>              
          </div> 
          </div>
        </div>
      </div>           
  </div>
</div>
</div>
<footer class="footer">
  <div class="row">
      <div class="col-md-4 col-12">
        
      </div>
      <div class="col-md-4 col-12">
          
      </div>
      <div class="col-md-4 col-12">
         
      </div>
  </div>
</footer>
<router-outlet></router-outlet>
</div>