
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
  }
  .title-blue {
      color: #007ec7;
  }
  .movie-card {
      background-color: #212529;
  }
  